obj/
bin/
obj2015/
obj2016/
packages/
obj/
obj/
build/
.vs/
*.user
.suo
.suo
.suo
_build/
.vs/
BUYLTools/.vs/BUYLCode/v14/.suo
BUYLTools/.vs/BUYLCode/v14/.suo
BUYLTools/.vs/BUYLCode/v14/.suo
obj2017/
