<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- DirectShape or Instance -->
    <add key="PfVType" value="DirectShape"/>
    
    <!-- Family names for pfvCutouts -->
    <add key="PfVDummyMarker" value="ALG_Marker_PfV"/>
    <add key="PfVWallCutout" value="AA Bauteilöffnung rechteckig"/>
    <add key="PfVFloorCutOut" value=""/>

    <add key="PfVWidth" value="AA Breite"/>
    <add key="PfVHeight" value="AA Höhe"/>
    <add key="PfVDepth" value="AA Tiefe"/>  
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
