<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- DirectShape or Instance -->
    <add key="PfVType" value="DirectShape"/>
    
    <!-- Family names for pfvCutouts -->
    <add key="PfVDummyMarker" value="ALG_Marker_PfV"/>
    <add key="PfVWallCutoutRE" value="AA Bauteilöffnung rechteckig"/>
    <add key="PfVWallCutoutRD" value="AA Bauteilöffnung flächenbasiert rund"/>
    <add key="PfVFloorCutOutRE" value="AA Bauteilöffnung rechteckig"/>
    <add key="PfVFloorCutOutRD" value="AA Bauteilöffnung flächenbasiert rund"/>
    <add key="PfVOtherRE" value="AA Bauteilöffnung rechteckig"/>
    <add key="PfVOtherRD" value="AA Bauteilöffnung flächenbasiert rund"/>
    
    <add key="SectionBoxAddonSize" value="1"/>

    <add key="PfVWidth" value="AA Breite"/>
    <add key="PfVHeight" value="AA Höhe"/>
    <add key="PfVDepth" value="AA Tiefe"/>
    <add key="PfVDiameter" value="AA Durchmesser"/>
    <add key="PfVTrade" value="AA Gewerk"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
