<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="databaseDEDE" value="C:\Daten_Arbeit\Extern\BEGA\data\weeklyupdate\BEGA_Testdatenpaket_Wochenplanung\_XML\BEGA_Revit_de-DE.xml"/>
    <add key="databaseENEN" value="C:\Daten_Arbeit\Extern\BEGA\data\weeklyupdate\BEGA_Testdatenpaket_Wochenplanung\_XML\BEGA_Revit_en-GB.xml"/>
    
    <!-- sourcepath for images -->
    <add key="imagesourcepath" value="C:\Daten-Arbeit\Extern\BEGA\data\Source\_in Parametervorlage"/>

    <!-- mapping for electrical potential, 220 - 240 V;230|10 - 20 V;15|...-->
    <add key="Electrical_Potential_Mapping" value="220-240 V;1|110-130 V;120"/>
    
    <!-- currrently not used -->
    <add key="excludeParamsFromDeletion" value="m:\\ftp"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
