<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define BundleFolder="$(var.ProjectName).bundle"?>
  <!--<?define MySource="$(var.SolutionDir)_build\final\$(var.BundleFolder)" ?>-->
  <!--<?define IsLicenseProduct="true"?>-->

  <Product
    Id="{88E4FF35-A680-48A6-97B6-168EBB6292A2}"
    Name="$(var.ProjectName)"
    Language="1033"
    Version="1.0.0.0"
    Manufacturer="CAD-Development Tim Hoffeller"
    UpgradeCode="{E05B1D87-5E89-4BE7-99D8-C6AAD0352839}">

    <Package Id="*" InstallerVersion="301" Languages="1033" Compressed="yes" InstallPrivileges="elevated" Platform="x64"/>
    <Property Id="MSIUSEREALADMINDETECTION" Value="1" />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <!-- UI things -->
    <WixVariable Id="WixUILicenseRtf" Value="$(var.SolutionDir)_eula//EULA_BUYL.rtf" />
    <UIRef Id="WixUI_Minimal" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <!-- end ui things -->

    <Feature Id="ProductFeature" Title="[ProductName]" Level="1">
      <ComponentGroupRef Id="BundleFiles"/>
      <!--<ComponentGroupRef Id="BundleComponents" />
      <ComponentGroupRef Id="Binaries2015"/>-->
    </Feature>

  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="AppDataFolder">
        <!-- see "https://msdn.microsoft.com/en-us/library/aa370905(VS.85).aspx#system_folder_properties" -->
        <Directory Id="ADSK" Name="Autodesk">
          <Directory Id="APPS" Name="ApplicationPlugins">
            <Directory Id="BUNDLEFOLDER" Name="$(var.BundleFolder)">
              <Directory Id="BIN" Name="2018"/>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

</Wix>
