<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="logconfig" value="./LogManager/BUYLLog_config.xml"/>
    <add key="pfvround" value="Circular,Round"/>
    <add key="pfvrectangular" value="Rectangular,Rectangle"/>
    <add key="wallcutout" value="Wanddurch,Wallcutout,Wände,wände,Skelett"/>
    <add key="floorcutout" value="Fussbodendurch,Deckendurch,Decken,decken,Fundamente,Skelett"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
